<!DOCTYPE html>
<html>
<head>
	<title>Trang đăng nhập</title>
	<link rel="stylesheet" type="text/css" href="Account.css">
</head>
<body>
	<form>
		<h1>Đăng nhập</h1>
		<label for="username">Tài khoản:</label>
		<input type="text" id="username" name="username">

		<label for="password">Mật khẩu:</label>
		<input type="password" id="password" name="password">
		<button type="submit">Đăng nhập</button>
        <p>Bạn chưa có tài khoản? <a href="Register.html">Đăng ký ngay</a></p>
	</form>
</body>
</html>
