<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý tài khoản</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div class="header">
        <h1>Quản lý tài khoản</h1>
    </div>
    <div class="content">
        <div class="product-list">
            <h2>Danh sách tài khoản</h2>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Tên</th>
                            <th>Password</th>
                            <th>Số điện thoại</th>
                            <th>Username</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.password}"></td>
                            <td th:text="${user.phone}"></td>
                            <td th:text="${user.username}"></td>
                            <td>
                                <form>
                                    <button type="submit">Sửa</button>
                                </form>
                                <form th:action="@{'/admin/accountmanage/deleteUser/' + ${user.id}}" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn xóa?')">
                                    <button type="submit">Xóa</button>
                                </form>                                                                                                                                                                 
                            </td>
                        </tr>
                    </tbody>
                </table>  
            </div>               
        </div>
    </div>
</body>