<!DOCTYPE html>
<html>
<head>
	<title>Trang đăng ký</title>
	<link rel="stylesheet" type="text/css" href="../static/CSS/Account.css">
</head>
<body>
	<form>
		<h1>Đăng ký</h1>
		<label for="username">Tài khoản:</label>
		<input type="text" id="username" name="username">
        <label for="email">Email:</label>
		<input type="email" id="email" name="email">
		<label for="phone">Số điện thoại:</label>
		<input type="tel" id="phone" name="phone">
		<label for="password">Mật khẩu:</label>
		<input type="password" id="password" name="password">
		<button type="submit">Đăng ký</button>
	</form>
</body>
</html>
